
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("/src/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("/src/Fonts/RobotoCondensed-VariableFont_wght.ttf");
}
@font-face {
  font-family: "inria";
  src: url("/src/Fonts/InriaSans-Regular.ttf");
}
@font-face {
  font-family: "istok";
  src: url("/src/Fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: "saira";
  src: url("/src/Fonts/SairaCondensed-Regular.ttf");
}

.slick-slide > div {
  margin: 0 15px;
}